<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Mangastore</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="bg-dark text-white p-2">
            <span class="navbar-brand ml-2">
                <a class="navbar-brand" asp-area="" asp-controller="Mangas" asp-action="Index">Manga store</a>
            </span>
        </div>
   
            
                @RenderBody()
            
        
    </div>
</body>
</html>